* {
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #999999;
  background-image: url(../images/pattern.png);
}

a, a:visited {
  text-decoration: none;
}

div.section {
  clear: both;
  width: 100%;
}

div.title {
  background-position: center 99%;
  background-repeat: no-repeat;
  background-image: url(../images/arrow.png);
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height: 100%;
}

div.bar-front {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  border-top: 1px solid #FFFFFF;
  border-bottom: 4px solid #000000;
}

ul:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
}

li {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  float: left;
  height: 0;
  border: 2px solid #000000;
}

div.map {
  height: 100%;
}

div.info {
  border-top: 5px solid #000000;
  height: 100%;
  position: relative;
  background-position: center 99%;
  background-repeat: no-repeat;
  background-image: url(../images/arrow.png);
  color: #FFFFFF;
}

div.info > div.container {
  text-align: center;
  position: absolute;
}

p.address {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

p.description {
  font-family: "Knewave", cursive;
}

p.hours {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

div.info > div.container > a > img {
  margin-top: 25px;
}

div.menu-front {
  float: left;
}

div.menu-back {
  float: left;
}

div.menu > div > img {
  width: 100%;
}
