div.title {
  background-size: 2.5%;
}

div.title > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  margin-top: -20%;
  margin-left: -20%;
}

div.bar-front {
  background-image: url(../images/desktop/bar_front.jpg);
  height: 100%;
}

div.info {
  background-size: 2.5%;
}

div.info > div.container {
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

p.description {
  font-size: 4vh;
}

p.address {
  font-size: 1.75vh;
}

li {
  width: 25%;
  padding-bottom: 25%;
}

li.bar-angle {
  background-image: url(../images/desktop/bar_angle.jpg);
}

li.kicker {
  background-image: url(../images/desktop/kicker.jpg);
}

li.posters {
  background-image: url(../images/desktop/posters.jpg);
}

li.outside {
  background-image: url(../images/desktop/outside.jpg);
}

li.elvis {
  background-image: url(../images/desktop/elvis.jpg);
}

li.corner {
  background-image: url(../images/desktop/corner.jpg);
}

li.red {
  background-image: url(../images/desktop/red.jpg);
}

li.bar {
  background-image: url(../images/desktop/bar.jpg);
}

div.menu {
  border-top: 5px solid #000000;
}

div.menu-front {
  width: 50%;
}

div.menu-back {
  width: 50%;
}
