div.title {
  background-position: center center, center 99%;
  background-repeat: no-repeat, no-repeat;
  background-image: url(../images/logo.png), url(../images/arrow.png);
  background-size: 40%, 2.5%;
}

div.bar-front {
  background-image: url(../images/desktop/bar_front.jpg);
  height: 100%;
}

div.map {
  height: 100%;
}

div.info {
  background-position: center 99%;
  background-repeat: no-repeat;
  background-image: url(../images/arrow.png);
  background-size: 2.5%;
}

div.info > div.container {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

p.description {
  font-size: 4vh;
  font-family: "Knewave", cursive;
}

p.address {
  font-size: 1.75vh;
}

li {
  width: 25%;
  padding-bottom: 25%;
}

li.bar-angle {
  background-image: url(../images/desktop/bar_angle.jpg);
}

li.kicker {
  background-image: url(../images/desktop/kicker.jpg);
}

li.posters {
  background-image: url(../images/desktop/posters.jpg);
}

li.outside {
  background-image: url(../images/desktop/outside.jpg);
}

li.elvis {
  background-image: url(../images/desktop/elvis.jpg);
}

li.corner {
  background-image: url(../images/desktop/corner.jpg);
}

li.ladies {
  background-image: url(../images/desktop/ladies.jpg);
}

li.bar {
  background-image: url(../images/desktop/bar.jpg);
}

div.menu {
  border-top: 5px solid #000000;
}

div.menu-front {
  width: 50%;
  float: left;
}

div.menu-back {
  width: 50%;
  float: left;
}

div.menu > div > img {
  width: 100%;
}
