div.title {
  background-position: center center, center 99%;
  background-repeat: no-repeat, no-repeat;
  background-image: url(../images/logo.png), url(../images/arrow.png);
  background-size: 80%, 5%;
}

div.bar-front {
  background-image: url(../images/mobile/bar_front.jpg);
  height: 50%;
}

div.map {
  height: 100%;
}

div.info {
  background-position: center 99%;
  background-repeat: no-repeat;
  background-image: url(../images/arrow.png);
  background-size: 5%;
}

div.info > div.container {
  text-align: center;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

p.description {
  font-size: 3vh;
  font-family: "Knewave", cursive;
}

p.address {
  font-size: 1.75vh;
}

li {
  width: 50%;
  padding-bottom: 50%;
}

li.bar-angle {
  background-image: url(../images/mobile/bar_angle.jpg);
}

li.kicker {
  background-image: url(../images/mobile/kicker.jpg);
}

li.posters {
  background-image: url(../images/mobile/posters.jpg);
}

li.outside {
  background-image: url(../images/mobile/outside.jpg);
}

li.elvis {
  background-image: url(../images/mobile/elvis.jpg);
}

li.corner {
  background-image: url(../images/mobile/corner.jpg);
}

li.ladies {
  background-image: url(../images/mobile/ladies.jpg);
}

li.bar {
  background-image: url(../images/mobile/bar.jpg);
}

div.menu_1 {
  width: 100%;
  float: left;
}

div.menu_2 {
  width: 100%;
  float: left;
}

div.menu > div > img {
  width: 100%;
}
